html {
    font-size: 16px;
}

button {
    background-color: blue;
}

button:hover {
    background-color: darkblue;
}

.parent {
    width: 100px;
    height: 100px;
    background: gray;
}

.child {
    width: 50%;
    height: 50px;
    background: indigo;
}

.parent-element {
    font-size: 10px;
}

.child-element {
    font-size: 2em;
}